/* Modal.css */
.modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 10px;
  padding: 1rem;
  max-width: 90%;
  max-height: 90%;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  animation: zoomIn 0.5s ease;
  z-index: 1000;
}

.modal-dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
  animation: fadeIn 0.5s ease;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: #e74c3c; /* Puedes cambiar este color */
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  z-index: 1100;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal-image {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 8px;
  object-fit: contain;
  animation: fadeInImg 0.5s ease;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeInImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
